<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <ul>
       <div class="navbar-header">
        <a class="navbar-brand" href="/home1/index">Yearbook</a>
      </div>
    </ul>
  </div>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "About", about_path%></li>
        <li><%= link_to "Contact", contact_path%></li>      
    </ul>
    <p class="navbar-text pull-right">
      <% if user_signed_in? %>
      <%= link_to 'Edit', edit_user_registration_path, :class => 'navbar-link' %> /
      <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
      <% else %>
      <%= link_to "Sing in", new_user_registration_path, :class => 'navbar-link'  %> /
      <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
      <% end %>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>
